html,body {
    margin: 0;
    width: 100%;
}

#table_div{
    width: 95%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 100px;
}

#indexFooter{
    width: 100%;
    min-height: 50px;
    position: fixed;
    bottom: 0;
}

.error-message {
    position: fixed;
    top: 20%;
    left: 45%;
    margin-left: -150px;
    width: 400px;
    z-index: 9999;
    background-color: tomato;
    color: white;
}